body{
    text-align: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* #username{

} */

#submission{
    margin-top: 20px;
}